In [1]:
from os import walk, system
import json
import pandas as pd

In [2]:
from src.school import SchoolData

In [3]:
with open('out/2022-09/school_pages_index.json') as fp:
  pages = json.load(fp)

In [4]:
dataframes = []
for id, school_pages in pages.items():
  if len(dataframes) > 500: break
  sd = SchoolData(id, school_pages)
  dataframes.append(sd.computer())

In [5]:
pd.concat(dataframes)

                                       0                 1           2
0    จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน     งบประมาณ สพฐ.   0 เครื่อง
1    จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน  จัดหาเอง/บริจาค:  30 เครื่อง
2    จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน               รวม  30 เครื่อง
3    จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน        ใช้งานได้:   6 เครื่อง
4    จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน     ใช้งานไม่ได้:  24 เครื่อง
..                                   ...               ...         ...
8   จำนวนคอมพิวเตอร์เพื่อการบริหารจัดการ        ใช้งานได้:   4 เครื่อง
9   จำนวนคอมพิวเตอร์เพื่อการบริหารจัดการ     ใช้งานไม่ได้:   0 เครื่อง
10                จำนวนคอมพิวเตอรทั้งหมด      คอมพิวเตอร์:  47 เครื่อง
11                จำนวนคอมพิวเตอรทั้งหมด        ใช้งานได้:  30 เครื่อง
12                จำนวนคอมพิวเตอรทั้งหมด     ใช้งานไม่ได้:  17 เครื่อง

[6188 rows x 3 columns]

In [28]:
fpath = school_pages['computer_internet']
tables = pd.read_html(fpath)
for tab in tables:
    bool_tab = ('จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน' == tab)
    bool_tab.any().any()
    if bool_tab.any().any():
        df = tab
        break
df

False
False
False
False
False
True

,0,1
0,จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน,จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน
1,งบประมาณ สพฐ.,0 เครื่อง
2,จัดหาเอง/บริจาค:,20 เครื่อง
3,รวม,20 เครื่อง
4,ใช้งานได้:,0 เครื่อง
5,ใช้งานไม่ได้:,20 เครื่อง
6,จำนวนคอมพิวเตอร์เพื่อการบริหารจัดการ,จำนวนคอมพิวเตอร์เพื่อการบริหารจัดการ
7,งบประมาณ สพฐ.,0 เครื่อง
8,จัดหาเอง/บริจาค:,6 เครื่อง
9,รวม,6 เครื่อง
10,ใช้งานได้:,0 เครื่อง
11,ใช้งานไม่ได้:,6 เครื่อง
12,จำนวนคอมพิวเตอรทั้งหมด,จำนวนคอมพิวเตอรทั้งหมด
13,คอมพิวเตอร์:,26 เครื่อง
14,ใช้งานได้:,0 เครื่อง
15,ใช้งานไม่ได้:,26 เครื่อง
16,ข้อมูล ณ วันที่ 2021-09-03 18:12:58 น.,ข้อมูล ณ วันที่ 2021-09-03 18:12:58 น.

In [16]:

tables = pd.read_html(school_pages['computer_internet'])
for table in tables:
  if any('จำนวนคอมพิวเตอร์เพื่อการเรียนการสอน' == table):
    df = table

In [17]:
df

,0,1
0,ระบบเครือข่ายอินเทอร์เน็ตที่โรงเรียนเช่าเอง,ระบบเครือข่ายอินเทอร์เน็ตที่โรงเรียนเช่าเอง
1,ผู้ให้บริการ:,-
2,ประเภท:,-
3,ความเร็ว:,-
4,สถานะการใช้งาน:,-
5,งบประมาณ/เดือน:,-
6,ระบบเครือข่าย,ระบบเครือข่าย
7,ระบบเครือข่าย (LAN):,มีระบบเครือข่าย LAN
8,ระบบเครือข่ายไร้สาย (Wireless LAN):,มีระบบเครือข่ายไร้สาย (Wireless LAN)
9,ข้อมูล ณ วันที่ 2021-09-03 18:39:38 น.,ข้อมูล ณ วันที่ 2021-09-03 18:39:38 น.

In [4]:
pd.read_csv('out/2022-09/school_data/internet.csv')

,Unnamed: 0,Unnamed: 0.1,0,1,2,3,school_id,0.1,1.1,2.1,3.1
0,0,0.0,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page,1010720019,NaN,NaN,NaN,NaN
1,1,NaN,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page,1010720007,NaN,NaN,NaN,NaN
2,2,NaN,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page,1010720023,NaN,NaN,NaN,NaN
3,3,NaN,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page,1010720003,NaN,NaN,NaN,NaN
4,4,NaN,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page,1010720004,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
29354,29354,NaN,NaN,NaN,NaN,NaN,1018090200,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page
29355,29355,NaN,NaN,NaN,NaN,NaN,1018090198,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page
29356,29356,NaN,NaN,NaN,NaN,NaN,1018090201,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page
29357,29357,NaN,NaN,NaN,NaN,NaN,1018090205,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page
29358,29358,NaN,NaN,NaN,NaN,NaN,1018090206,NaN,ยินดีต้อนรับ,NaN,หน้าหลักเขตพื้นที่ | admin page